Qui êtes-vous ?

<form action='/connexion' method='post'>
  <input type='text' name='pseudo'>
  <input type='password' name='mot_de_passe'>
  <input type='submit' value='se connecter'>
</form>

Pas de compte ? Créez-en un <a href="/formulaire_de_creation_de_compte">ici</a>.
