Créer un compte

<form action='/creer_compte' method='post'>
  <div class='form-group'>
    <input class='form-control' type='text' name='pseudo'></h2>
  </div>
  <div class='form-group'>
    <input class='form-control' type='password' name='mot_de_passe'>
  </div>
  <div class='form-group'>
    <input class='btn btn-primary' type='submit' value='créer votre compte'>
  </div>
</form>"
