Créer un compte

<form action='/creer_compte' method='post'>
  <input type='text' name='pseudo'>
  <input type='password' name='mot_de_passe'>
  <input type='submit' value='créer votre compte'>
</form>"
